.about{
	background-color: #1c1c3a;
	color: #fff;

}
.about__container{
	@extend %wrapper;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 200px;
	padding-bottom: 53px;
}
.about__title{
	flex-grow: 2;
	text-align: center;
}
.about__columns__container{
	display: flex;
}
.about__column{
	width: 100%;
	max-width: 450px;
	margin: 20px;
}
.about__links{
	display: flex;
	align-items: center;
	justify-content: center;
	a{
		display: inline-block;
		&:not(:last-child){
			margin-right: 18px;
		}
	}

}

.about__getapp{
	flex-grow: 2;
	width: 100%;
	text-align: center;
}
.about__links__quartz{

	width: 71px;
	height: 71px;
	box-shadow: 0 21px 13px -15px rgba(118, 122, 250, 0.5);
	border-radius: 17px;
	background-color: #777bfa;
	margin-right: 40px !important;
	position: relative;
	&:after{
		position: absolute;
		content: "";
		width: 49px;
		height: 49px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-image: url("../img/quartz-logo-white.svg");
		background-size: cover;
	}
}
@media screen and (max-width: 1024px) {
	.about__columns__container{
		flex-wrap: wrap;
		justify-content: space-around;	
	}
}
@media screen and (max-width: 425px) {
	.about__links{
		flex-direction: column;
	}
	.about__links__quartz{
		margin: 20px !important;
	}
	.dw-btns{
		text-align: center;	
	}
	.about__links__item{
		margin: 0 !important;
	}
}