.banner{
	background:transparent url('../img/background-banner.svg') left top no-repeat;
	background-size: cover;
	color: #fff;
	max-width: 100vw;
	overflow-x: hidden;
}

.banner__content{
	position: relative;
	margin-top: 70px;
	@extend %wrapper;
	.block__title{
		max-width: 602px;
	}
	.block__subtitle{
		max-width: 450px;
		line-height: 26.67px;
		margin-top: 33px;
		margin-bottom: 62px;
		&.--fullsize{
			max-width: 545px;
		}
	}
	.block_img{
		position: absolute;
		top: 47px;
		right: -320px;
	}
}
#video-tel{
    position: absolute;
    transform: rotate3d(-4,-1,3, -63deg);
    width: 326px;
    left: 212px;
    top: -56px;
}
.banner__content__block{
	@extend %wrapper;
	display: flex;
	justify-content: space-between;
	margin-bottom: 230px;
	.block__rose{
		max-width: 380px;
	}
}
.--banner-bottom{
	max-width: 541px;
}


@media screen and (max-width: 768px) {
	.banner__content{
		
		.block_img{
			position: relative;
		}
	}
	.banner__content__block{}
}

@media screen and (max-width: 425px) {
	.banner__content{
		margin-top: 260px;
	}
	.content__img{
		img{
			display: block;
			margin: 0 auto;
		}
	}
	.header__course{
		display: none;
	}
	.banner__content .block_img {
	    top: 0px;
	    transform: scale(0.6);
	    right: -46px;
	    margin-top: -120px;
	    margin-bottom: -410px;
	}
	.block__btns{
		display: none;
	}
	.block__rose {
    	order: 2;
	}
	.second__banner__block{
		margin-bottom: 40px;
	}
}

