.banner{
	background:transparent url('../img/background-banner.svg') left top no-repeat;
	background-size: cover;
	color: #fff;
	max-width: 100vw;
	overflow-x: hidden;
}

.banner__content{
	position: relative;
	margin-top: 70px;
	@extend %wrapper;
	.block__title{
		max-width: 602px;
	}
	.block__subtitle{
		max-width: 450px;
		line-height: 26.67px;
		margin-top: 33px;
		margin-bottom: 62px;
		&.--fullsize{
			max-width: 545px;
		}
	}
	.block_img{
		position: absolute;
		top: 47px;
		right: -320px;
	}
}
#video-tel{
    position: absolute;
    transform: rotate3d(-4,-1,3, -63deg);
    width: 326px;
    left: 212px;
    top: -56px;
}
.banner__content__block{
	@extend %wrapper;
	display: flex;
	justify-content: space-between;
	margin-bottom: 230px;
	.block__rose{
		max-width: 380px;
		position: relative;
		z-index: 1;
	}
}
.--banner-bottom{
	max-width: 541px;
}
@keyframes shadowrippel {
	0% { 
		box-shadow: 0 0 9px 5px rgba(166, 114, 225, 0.7);
	}
	50% {
		box-shadow: 0 0 25px 7px rgba(166, 114, 225, 0.7);
	}
	100% { 
		box-shadow: 0 0 9px 5px rgba(166, 114, 225, 0.7);
	}
}
.rose__playbtn{
	width: 86px;
	height: 86px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background: #23224E;
	cursor: pointer;
	box-shadow: 0 0 9px 5px rgba(166, 114, 225, 0.7);
	animation: shadowrippel infinite 2s ease-in-out;

	&:after{
		content: "";
		position: absolute;
		top: 29px;
		left: 36px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 14px 0 14px 21px;
		border-color: transparent transparent transparent #777dfc;
	}
}
.playbtn__toolkit{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(27px, 31px);
	z-index: -1;
	
	.toolkit__text{
		position: absolute;
		left: 105%;
		bottom: 0;
		width: 100%;
	}
	svg{
		width: 200px;
	}
}

.sale{
	.header__btn{
		display: none !important;
	}
}
@media screen and (max-width: 768px) {
	.banner__content{
		
		.block_img{
			position: relative;
			right: -150px;
		}
	}
}

@media screen and (max-width: 425px) {
	.playbtn__toolkit{
		display: none;
	}
	.banner__content{
		margin-top: 260px;
	}
	.content__img{
		img{
			display: block;
			margin: 0 auto;
		}
	}
	.header__course{
		display: none;
	}
	.banner__content .block_img {
	    top: 0px;
	    transform: scale(0.6);
	    right: -46px;
	    margin-top: -120px;
	    margin-bottom: -410px;
	}
	.block__btns{
		display: none;
	}
	.block__rose {
    	order: 2;
	}
	.second__banner__block{
		margin-bottom: 40px;
	}
}

