/*
 * burger menu
 */

 .block,
 .header__links_container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
 }

.bt-menu {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  
  &:after,
  &:before {
    content: "";
  }
  
  span,
  &::after,
  &::before {
    backface-visibility: hidden;
    position: absolute;
    left: 13px;
    right: 13px;
    border-top: 4px solid #fff;
    transition: .2s;
    border-radius: 7px;
  }
  
  &::before {
    top: 18px;
  }

  span {
    top: 26px;
  }

  &::after {
    top: 34px;
  }

  &.active {
    &::before,
    &::after {
      top: 25px;
      backface-visibility: hidden;
      transition: .3s;
    }

    &::before {
      transform: rotate(45deg);
    }

    span {
      opacity: 0;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}


.header__container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  padding-top: 44px;
  .header{
    @extend %wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    .header__btn{
      width: 185px;
      height: 40px;
      border-radius: 8px;
      line-height: 0.6;
      font-size: 13px;
      transition: opacity 0.2s ease-in-out;
      display: block;
      margin: 0 65px 0 0;
      background-image: linear-gradient(to right, #8387fd 0%, #6e73fb 100%);
    }
  }
  
  .main-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .header__btn{
      width: 185px;
      height: 40px;
      border-radius: 8px;
      line-height: 0.6;
      font-size: 13px;
      transition: opacity 0.2s ease-in-out;
      display: block;
      margin: 0 65px 0 0;
      background-image: linear-gradient(to right, #8387fd 0%, #6e73fb 100%);
    }
  }
  

  transition: padding-bottom 0.5s ease-in-out, background 0.5s ease-in-out;
  &.scroll{
    padding-top: 0;
    .header__btn,
    .header__link{
      transition: all 0.2s ease-in-out;
      // display: block;
      // opacity: 1;
    }
    background: #201f44;
    position: fixed;
    .header{

    }
  }
  &.active{
    background: #201f44;
    padding-bottom: 360px;
  }
}

.header__link{
  // opacity: 0;
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px 20px 10px 0;
  background-size: contain;

  &.--telegramm{
    background-image: url('../img/telegramm.svg');
  }
  &.--slack{
    background-image: url('../img/slack.svg');
  }
}
.header__logo{
  display: flex;
  align-items: center;
}
.logo--main{
  display: flex;
  margin: 0 16px 0 0;
  width: 60px;
  height: 60px;
  border: 2px solid #777dfc;
  border-radius: 50%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;

  svg{
    transform: scale(0.75);
  }
}
.header__nav{
  position: absolute;
  top: 180px;

  transition: all .5s ease-in-out;
  &.open{
    height: 232px;
  }
  .nav__item{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;

    display: flex;
    align-items: center;

    margin-bottom: 33px;



    &:before{
      content:'';
      display: inline-block;
      width: 33px;
      height: 33px;
      background:#696efb;
      border-radius: 50%;
      margin-right: 13px;
    }
  }
}

.header__course{
  @extend %wrapper;
  text-align: right;
  margin-top: 150px;
  .header__course__item{
    line-height: 1.7;
  }
}
.responsive-navbar{
  display: none;
}
.header__container{
  .responsive-navbar{
    header{
      display: flex;
      justify-content: space-between;

    }

    footer.block{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header__btn{
      color: #fff;
      font-size: 13px;
      width: 104px;
      height: 35px;
      text-decoration: none;
      box-sizing: border-box;
      line-height: 2.7;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  
}
@media screen and (max-width: 425px) {
  
  .responsive-navbar{
    display: block;
  }
  
  .main-navbar{
    display: none !important;
  }

  .header__links_container{
    position: absolute;
    top: 50px;
    right: 0;
    width: 90vw;

  }
  .header__logo{
    flex-direction: column;
    .logo--main{
      display: flex;
      margin: 0 0 10px;
      width: 80px;
      height: 80px;
      border: 2px solid #777dfc;
      border-radius: 50%;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;

      svg{
        transform: scale(1);
      }
    }
  }
}