.footer{
	background-color: #181734;

}
.footer__container{
	@extend %wrapper;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 35px;
}
.footer__links{
	display: flex;
	align-items: center;
	a{
		display: block;
		width: 22px;
		height: 18px;
		background-size: contain;
	}
}
.medium{
	background: url('../img/medium.svg') 0 0 no-repeat;
	margin-right: 16px;
}
.twitter{
	background: url('../img/twitter.svg') 0 0 no-repeat;
	margin-right: 16px;
}
.linkedin{
	background: url('../img/linkedin.svg') 0 0 no-repeat;
}



.pop-up{
	color: #fff;
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	width: 100vw;
	height: 100vh;
	top: 0;
	z-index: 5;
	display: none;
	.video__container{
		position:relative;
		padding-bottom:56.25%;
		padding-top:30px;
		height:0;
		overflow:hidden;
	}
	.pop-container{
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	   	max-width: 95vw;
	   	width: 700px;

	    .video__container iframe, .video__container object, .video__container embed {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
	}
	.close-btn{
		position: absolute;
		top: -20px;
		right: -40px;
		cursor: pointer;
	}
}

@media screen and (max-width: 425px) {
	.footer__container{
		text-align: center;
	}
	.footer__cpr{
		margin-bottom: 10px;
	}
}
