.footer{
	background-color: #181734;

}
.footer__container{
	@extend %wrapper;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 35px;
}
.footer__links{
	display: flex;
	align-items: center;
	a{
		display: block;
		width: 22px;
		height: 18px;
	}
	.medium{
		background: url('../img/medium.svg') 0 0 no-repeat;
		margin-right: 16px;
	}
	.twitter{
		background: url('../img/twitter.svg') 0 0 no-repeat;
	}
}

@media screen and (max-width: 425px) {
	.footer__container{
		text-align: center;
	}
	.footer__cpr{
		margin-bottom: 10px;
	}
}
