.access-form{
	@extend %wrapper;
	padding-top: 45px;
	padding-bottom: 45px;
	display: flex;
	justify-content: space-between;
}
.access-form__content{
	width: 462px;
	max-width: 100%;

}
.access-form__title{
	margin-top: 95px;
}
.access-form__description{
	margin-bottom: 70px;
}
.access-form__input{
	display: block;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #bebebe;
	padding: 11px 1px;
	width: 367px;
	margin: 20px 0px;
	outline: none;
	max-width: 100%;
	&:placeholder{
		color: #333333;
	}
}
.access-form__btn{
	background-image: linear-gradient(to right, #8286fd 0%, #7074fa 100%);
	margin-top: 58px;
}
.access-form__cubes{
	position: relative;
	width: 100%;
	max-width: 420px;
	img{
		display: block;
		line-height: 0;
		width: 100%;
	}
	.quartz-ico{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 121px;
		height: 120px;
		box-shadow: 0 21px 13px -15px rgba(118, 122, 250, 0.5);
		border-radius: 23px;
		background-color: #777bfa;
		&:after{
			content: '';
			width: 80px;
			height: 80px;
			position: absolute;
			top: 20px;
			left: 20px;
			background: url('../img/quartz-white.svg') 0 0 no-repeat;
			background-size: contain;
		}	
	}
}