.partners{
	background-color: #fafbfc;
	padding: 90px 0px;
}

.partners__title{
	font-size: 37px;
	text-align: center;
	margin: 80px 0px;
}
.partners__container{
	@extend %wrapper;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.partners__item{
	width: 196px;
	height: 85px;
	border-radius: 13px;
	background-color: #333333;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 26px 30px;
	padding: 10px;
	box-sizing: border-box;
}
.partners__img{
	height: 50px;
	width: 137px;
	max-width: 100%;
	max-height: 100%;
	display: block;
}

@media screen and (max-width: 768px) {
	.partners__item{
		margin: 20px;
	}
}
@media screen and (max-width: 425px){
	.partners__item{
		margin: 20px 0px;
		width: 150px;
	}
}