.progress{
	text-align: center;
}
.progress__container{
	@extend %wrapper;
	margin-top: 100px;
	margin-bottom: 150px;
}
.progress__title{
	margin-bottom: 130px;
}
.progress-bar{
	position: relative;
	width: 100%;
	height: 45px;
	border-radius: 22px;
	border: 2px solid  #333333;
}
.progress-bar__fill-bar{
	position: absolute;
	height: 45px;
	border-radius: 20px;
	width: 15%;
	background: linear-gradient(to right, rgba(177,120,235,1) 0%,rgba(138,113,202,1) 100%); 
}
.progress-bar__start{
	position: absolute;
	top: 60px;
	left: -40px;
	font-size: 44px;
}
.progress-bar__end{
	position: absolute;
	top: 60px;
	right: -40px;
	font-size: 44px;
}
.qtx-amount{
	position: absolute;
	padding: 10px 15px;
	border-radius: 20px;
	background-color: #333333;
	color: #fff;
	top: -60px;
	right: -15px;
	min-width: 50px;

	&:after{
		content: '';
		position: absolute;
		width: 3px;
		height: 20px;
		top: 100%;
		left: 50%;
		background: #333;
	}

}
@media screen and (max-width: 1200px) {
	.progress-bar__start{
		left: 0;
	}
	.progress-bar__end{
		right: 0;
	}
}
@media screen and (max-width: 500px) {
	.progress-bar__start,
	.progress-bar__end{
		display: none;
	}
}