.roadmap{
	@extend %wrapper;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 170px;
	margin-bottom: 180px;

}
.roadmap__text{
	max-width: 310px;
}
.roadmap__pic{
	padding-top: 30px;
	svg{
		width: 665px;
		max-width: 100%;
		height: auto;
	}
}

.roadmap__responsive{
	display: none;
	width: 100%;
}
.roadmap__responsive__button{
    text-align: center;
    background: #EAEAEA;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	border-radius: 18px;
	background-image: linear-gradient(to right, #8387fd 0%, #6e73fb 100%);
	color: #fff;
	transition: all 0.4s;

	&.active{
		border-radius: 18px 18px 0 0;
	}
}
.roadmap__responsive__container{
	display: none;
	img{
		display: block;
		width: 100%;
	}
}
.rm__arrow{
	width: 10px;
	height: 6px;
	display: inline-block;
	background-image: url('../img/arrow-top.svg');
	transition: transform 0.4s;
	margin: 2px;
	&.active{
		transform: rotate(180deg);
	}
}

@media screen and (max-width: 425px) {
	.roadmap__table{
		display: none;
	}

	.roadmap__responsive{
		display: block;
		img{
			width: calc(100% + 17px);
		    position: relative;
		    top: -6px;
		    left: -7px;
		}
	}
	.roadmap{
		margin-bottom: 80px;
	}
}