.sale{
	background:transparent url('../img/bg-big.svg') left top no-repeat;
	padding-top: 300px;
	color: #fff;
}
.sale__countdown{
	@extend %wrapper;
	text-align: center;
}


// countdown


.countdown__title{
	margin: 40px 0 20px;
	font-weight: 400;
	font-size: 39px;
}
.countdown__container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.countdown__item{
	margin: 10px 5px;
}
.countdown__item_name{
	text-transform: uppercase;
	font-size: 36px;

}
.countdown__contdown__item_contaier{
	width: 255px;
	height: 100px;
	border-radius: 28px;
	background-color: #696efb;
	font-size: 48px;
	line-height: 2.2;
}

// address!

.sale__address{
	@extend %wrapper;
	text-align: center;
	margin-top: 125px;
}
.address__block{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
	height: 100px;
	border-radius: 25px;
	background-color: #696efb;

}
.address__etherscan{
	background-color: #ffffff;
	border-radius: 25px;
	width: 290px;
	color: #333333;
	font-size: 21px;
	line-height: 4.9;
}
.address__token{
	font-size: 21px;
	line-height: 4.9;
	flex-grow: 1;
}

// calculator

.convret-ico{
	width: 145px;
	height: 46px;
	background:transparent url('../img/convert-ico.svg') left top no-repeat;
	background-size: contain;
	margin: 20px 0px 40px;
	align-self: flex-end;
}

.sale__calculator, .sale__instructions{
	@extend %wrapper;
	text-align: center;
	margin-top: 128px;
}
.calculator__title{
	margin-bottom: 10px;
}
.calculator__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.token-name{
		text-transform: uppercase;
		margin: 12px 0px;
	}
}
.block__input{
	display: block;
	box-sizing: border-box;
	width: 445px;
	max-width: 100%;
	border-radius: 28px;
	border: none;
	color: #fff;
	outline: none;
	margin: 5px;
	height: 120px;
	font-size: 40px;
	text-align: center;

	&#input{
		background-image: linear-gradient(to right, #b178eb 0%, #8a71ca 100%);
	}

	&#output{
		background-image: linear-gradient(to right, #8387fd 0%, #6e73fb 100%);
	}
}

// instructions

.instructions__title{
	margin: 15px 0px;
}
.instructions__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 26px;
}
.instructions__item{
	width: 205px;
	height: 195px;
	border-radius: 25px;
	background-image: linear-gradient(to right, #b178eb 0%, #8a71ca 100%);
	margin: 7px;
	position: relative;
	.instruction__link{
		position: absolute;
		display: block;
		top: 50%;
		left: 50px;
		transform: translateY(-50%);
	}
}





















