.sale{
	background:transparent url('../img/bg-big.svg') left top no-repeat;
	background-size: cover;
	padding-top: 300px;
	color: #fff;
}
// address!

.sale__address{
	@extend %wrapper;
	text-align: center;
	margin-top: 125px;
}
.address__block{
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 100px;
	border-radius: 25px;
	background-color: #696efb;
	overflow: hidden;

}
.address__etherscan{
	background-color: #ffffff;
	border-radius: 25px;
	width: 290px;
	color: #333333;
	font-size: 21px;
	line-height: 4.9;
	text-decoration: none;
}
.address__token{
	font-size: 21px;
	line-height: 4.9;
	flex-grow: 1;
}
// calculator

.convret-ico{
	width: 145px;
	height: 46px;
	background:transparent url('../img/convert-ico.svg') left top no-repeat;
	background-size: contain;
	margin: 20px 0px 40px;
	align-self: flex-end;
}

.sale__calculator, .sale__instructions{
	@extend %wrapper;
	text-align: center;
	margin-top: 128px;
}
.calculator__title{
	margin-bottom: 10px;
}
.calculator__container{
	display: flex;
	justify-content: center;
	.token-name{
		text-transform: uppercase;
		margin: 12px 0px;
	}
}
.calculator__block{
	flex-grow: 1;
	margin: 5px;
}
.block__input{
	display: block;
	box-sizing: border-box;
	border-radius: 28px;
	border: none;
	color: #fff;
	outline: none;
	width: 100%;
	height: 120px;
	font-size: 40px;
	text-align: center;
	box-sizing: border-box;

	&::placeholder{
		color: #fff;
	}

	&#input{
		background-image: linear-gradient(to right, #b178eb 0%, #8a71ca 100%);
	}

	&#output{
		background-image: linear-gradient(to right, #8387fd 0%, #6e73fb 100%);
		color: #fff;
	}
}

// instructions

.instructions__title{
	margin: 15px 0px;
}
.instructions__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 26px;
}
.instructions__item{
	width: 205px;
	height: 195px;
	border-radius: 25px;
	background-image: linear-gradient(to right, #b178eb 0%, #8a71ca 100%);
	margin: 7px;
	position: relative;
	.instruction__link{
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 768px) {
	.block__input{
		font-size: 27px;
	}
	.address__etherscan, .address__token {
	    padding: 0px 10px;
	}
}
@media screen and (max-width: 425px){
	
	.calculator__block{
		// width: 120px;
		height: 80px;
	}
	.block__input{
		font-size: 20px;
	}
	.instructions__item{
		width: 150px;
		height: 150px;
	}
	.address__etherscan, .address__token {
	    font-size: 9px;
	    padding: 13px;
	}
	.address__block{
		height: 64px;
	}

}





















