.team{
	background-color: #fff;


}
.team__container{
	@extend %wrapper;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding-top: 120px;
	&.--responsive{
		display: none;
	}
}
.taem__desc{
	max-width: 462px;
}
.members__slider{
	width: 440px;
	max-width: 100vw;
}
.member__block{
	min-height: 480px;
	border-radius: 19px;
	background-color: #696dfb;
	box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	padding: 0px 60px;
	box-sizing: border-box;
	margin: 40px 20px;
	margin-bottom: 135px;
	outline: none;
	position: relative;
}
.member__pic{
	position: relative;
	top: -33px;
	margin-bottom: -33px;
}
.member__name{
	font-weight: 700;
	margin-bottom: 0;
}
.member__position{
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 43px;
}
.member__summary{
	font-size: 13px;
	font-weight: 700;
	text-align: left;
}
.taem__desc{
	margin-bottom: 135px;
}

.member__links{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);

	a{
		display: inline-block;
		width: 22px;
		height: 18px;
		background-size: cover;
	}
}




@media screen and (max-width: 768px){
	.members__slider{
		order: 1;
	}
}

@media screen and (max-width: 425px) {

	// .team__container{
	// 	&.--team{
	// 		display: none;
	// 	}
	// 	&.--advisors{
	// 		display: none;
	// 	}
	// 	&.--responsive{
	// 		display: flex;
	// 	}
	// }
	.member__block{
		padding: 0px 40px 40px;
	}
}