.token{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	@extend %wrapper;
	margin-top: 152px;
}
.token__content__tite{
	margin-top: 10px;
	line-height: 1.25;
}
.token__content__decription{
	line-height: 2.3;
}
.token__content{
	width: 462px;
}
.token__content__btn{
	background-image: linear-gradient(to right,#8387fd 0,#6e73fb 100%);
    margin-bottom: 212px;
    width: 290px;
    font-size: 22px;
    padding: 25px 35px;
}
.token__pic{
	position: relative;
	width: 470px;
	border-radius: 28px;
	background-color: #696dfb;
	margin-top: 15px;
	padding: 21px 35px;
	box-sizing: border-box;
	margin-bottom: 40px;
	margin-top: 50px;
}
.token__title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;

	.qtz{
		font-size: 47px;
	}
	.erc{
		font-size: 30px;	
	}
}
.token__logo{
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	img{
		width: 172px;
	}
}
.token__info__container{
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin: 110px 0 95px;
}
.info__row{
	text-align: center;
	margin: 18px 0px;
	font-size: 18px;
}
.info__content{
	padding: 10px;
	border-bottom: 1px solid #333333;

	&.--address{
		font-size: 15px;
	}
}

@media screen and (max-width: 425px) {
	.token{
		margin-top: 50px;

	}
	.token__content__btn{
		margin-bottom: 40px;
	}
	.token__logo img{
		width: 110px;
	}
	.info__content.--address{
		font-size: 10px;
	}
}