// @import url('https://font: normal|italic|oblique normal|small-caps normal|bold|bolder|lighter 1em/1.5 sans-serif;ts.googleapis.com/css?family=Roboto+Mono:400,400i,500,700|Roboto:300,400,400i,500,700');
@font-face{
	font-family: 'Roboto Mono', monospace;
	src: url(../fonts/Roboto_Mono/RobotoMono-Regular.ttf);
	font-weight: 400;
}
@font-face{
	font-family: 'Roboto Mono', monospace;
	src: url(../fonts/Roboto_Mono/RobotoMono-Bold.ttf);
	font-weight: 700;
}
@font-face{
	font-family: 'Roboto Mono', monospace;
	src: url(../fonts/Roboto_Mono/RobotoMono-Italic.ttf);
	font-style: italic;
	font-weight: 400;
}
@font-face{
	font-family: 'Roboto Mono', monospace;
	src: url(../fonts/Roboto_Mono/RobotoMono-Medium.ttf);
	font-weight: 500;
}
@font-face{
	font-family: 'Roboto Mono', monospace;
	src: url(../fonts/Roboto_Mono/RobotoMono-Light.ttf);
	font-weight: 300;
}

html{
	max-width: 100vw;
	overflow-x: hidden;
}
body{
	font-size: 16px;
	font-family: 'Roboto Mono', monospace;
	max-width: 100vw;
	overflow-x: hidden;
}
h1{
	font-size: 43px;
	font-weight: 400;
}
h2{
	font-size: 37px;
	font-weight: 400;
}
h3{
	font-size: 24px;
	font-weight: 400;
}
h4{
	font-size: 18px;
	font-weight: 400;
}

p{
	font-size: 16px;
	line-height: 26.67px;
}
*{
	outline: none;
}
.--small{
	font-size: 13px;
}

.--btn{
	width: 223px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 17px 23px;
	box-shadow: 0 20px 13px -13px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
	margin-top: 47px;
	margin-bottom: 45px;
	position: relative;
	color: #fff;
	border: none;
	text-align: left;
	&:after{
		position: absolute;
		right: 23px;
		top: 50%;
		transform: translateY(-50%);
		content: '';
		width: 20px;
		height: 12px;
		background: transparent url('../img/arrow.svg') left top no-repeat;
	}
}

i.--arrow-left{
	width: 20px;
	height: 12px;
	background: transparent url('../img/arrow.svg') left top no-repeat;
}

%wrapper{
	max-width: 1064px;
	margin: 0 auto;
	flex-wrap: wrap;
	padding: 0px 20px;
}

@media screen and (max-width: 1024px) {
	%wrapper{
		max-width: 1064px;
		margin: 0 auto;
		flex-wrap: wrap !important;
		padding-left: 20px;
		padding-right: 20px;
		justify-content: space-around;
	}
}

@media screen and (max-width: 768px) {
	%wrapper{
		justify-content: space-around !important;
	}
}

@media screen and (max-width: 425px) {
	h1,h2,h3{
		font-size: 23px;
	}
	p{
		font-size: 13px;
	}

	.--btn{
		width: 300px;
		height: 80px;
		margin: 40px auto;
		font-size: 24px;
		line-height: 2;
	}
}
