	@import 'components/normalize.scss';
	@import 'components/varibles.scss';
	@import 'components/slick-theme.scss';
	@import 'components/slick.scss';
	@import 'components/banner.scss';
	@import 'components/carousel.scss';
	@import 'components/currency.scss';
	@import 'components/cards-slider.scss';
	@import 'components/access.scss';
	@import 'components/roadmap.scss';
	@import 'components/team.scss';
	@import 'components/form.scss';
	@import 'components/about.scss';
	@import 'components/footer.scss';
	@import 'components/burger.scss';
	@import 'components/sale.scss';
	@import 'components/countdown.scss';
	@import 'components/token.scss';
	@import 'components/partners.scss';
	@import 'components/info-token.scss';
	@import 'components/404.scss';